/* global style start here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* global style end here */

/* nav style start here */
nav {
    width: 100%;
    height: auto;
    background: rgb(22, 21, 21);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .logo {
    width: 250px;
    height: 60px;
    margin-left: 100px;
    padding: 10px;
    cursor: pointer;
}

nav>ul {
    display: flex;
    margin-right: 200px;
}

nav ul li {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}

nav ul li:hover {
    background: black;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
}

nav ul li ul {
    position: absolute;
    background: rgb(22, 21, 21);
    width: 280px;
    top: 60px;
    left: 0;
    right: 0;
    display: none;
}

nav ul li ul li {
    border-top: 2px solid white;
    position: relative;
}

nav ul li ul li ul {
    position: absolute;
    left: 280px;
    top: 0;
}

nav ul li ul li ul li:nth-child(1) {
    border-top: 4px solid rgb(248, 163, 5);
}

/* nav style end here */