.menu {
    width: 90%;
    margin: 0 auto;
    height: 100px;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    float: left;
    list-style-type: none;
    background: black;
    width: 200px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    transition: .5s;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu ul li ul {
    display: none;
}

.menu ul li:hover>ul {
    display: block;
}
.menu ul li:hover{
    background: red;
}
.menu ul li ul li{
    position: relative;
}
.menu ul li ul li ul{
    position: absolute;
    top: 0;
    left: 200px;
}